<!-- Test file -->
<launch>
    <!-- uni car left and right wheel start -->
    <node pkg="device" name="uni_motor_l" type="uni_motor_l.py" output="screen" />
    <node pkg="device" name="uni_motor_r" type="uni_motor_r.py" output="screen" />
    
    <!-- uni car control start -->
    <!-- <node pkg="device" name="uni_motor_control" type="uni_motor_control.py" output="screen" /> -->
    <node pkg="device" name="uni_motor_controls" type="uni_motor_controls.py" output="screen" />

    <!-- lidar start -->
    <include file="$(find ydlidar_ros_driver)/launch/X3.launch" />
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
        <rosparam command="load" file="$(find device)/config/laser_configs.yaml" />
    </node>
    
    <!-- load urdf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <param name="robot_description" textfile="$(find device)/urdf/uni_cars.urdf" />
</launch>