<launch>
  <arg name="urdf_filename" default="$(find cartographer_ros)/urdf/gimbal_car_urdf.urdf"/>

  <node name="cartographer_assets_writer" pkg="cartographer_ros" required="true"
      type="cartographer_assets_writer" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename xunjian_assets_mapping.lua
          -urdf_filename $(arg urdf_filename)
          -bag_filenames /home/robotway/xunjian_ws/src/bag_ws/xunjian_bag/data.bag
          -pose_graph_filename /home/robotway/xunjian_ws/src/bag_ws/xunjian_bag/data.bag.pbstream"
      output="screen">
  </node>
</launch>
